
table {
  border-spacing: 0;
  text-align: center;
  width: 100%;
}

tr {

}

th {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 12.5px 5px;
  background-color: #fff0f3;
}

td {
  border-bottom: 1px solid #cccccc;
  padding: 12.5px 5px;
}

.table-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}