
.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin: 10px 0;
}

.page-link {
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 2px;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
}

.current {
  font-weight: bold;
  background-color: #fff0f3;
}