
.header-search {
  background-color: #ff99ae;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 15px;
  /* box-shadow: 0px 0px 2px 2px #fff0f3; */
  border: 1px solid #cccccc;
  width: 100%;
}

.search-input input {
  padding: 5px 10px;
  font-size: 24px;
  font-weight: lighter;
  width: 100%;
}

.search-input i {
  font-size: 36px;
}

.search-input input:focus {
  border: 0;
  outline: none;
}

.search-input input::after {
  border: 0;
}

.search-box {
  position: absolute;
  background-color: white;
  width: calc(100% - 20px);
  min-height: 350px;
  top: 59px;
  border: 1px solid #cccccc;
  border-top: 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
}

.search-box > div {
  display: inline-block;
  width: 50%;
  padding: 10px 5px;
  height: 350px;
}

.search-box > .search-box-left {
  display: flex;
}

.search-box > .search-box-left > div {
  display: flex;
  width: 50%;
  padding: 0 5px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

.search-box > .search-box-left > div > button {
  flex-basis: auto;
  width: 50%;
  margin: -0.5px;
  background-color: white;
}

.search-box > .search-box-left > div > .selected {
  background-color: #fff0f3;
}

.search-box > .search-box-right > div {
  width: 100%;
}

.search-box-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 5px;
  overflow: auto;
  overflow-y: hidden;
}

.nav > .navbar {
  display: inline-block;
  width: max-content;
  height: 100%;
  vertical-align: middle;
}

.nav > .navbar > .nav-link {
  display: inline-flex;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 20px;
  color: #848484;
  align-items: center;
}

@media (max-width: 1519.9px) and (min-width: 1000px) {

}

@media (min-width: 1000px) {
  .search-box > div:first-child {
    border-right: 1px solid #cccccc;
  }
}

@media (max-width: 999.9px) {
  /* .search-box > div:first-child {
    border-bottom: 1px solid #cccccc;
  } */
  
  .search-box {
    top: 69px;
  }

  .search-input input {
    padding: 10px 10px;
  }

  .search-box > div {
    width: 100%;
  }

  .search-box > .search-box-left > div {
    width: 100%;
  }

  .search-box > div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 769.9px){
  /* .search-box > div:first-child {
    border-bottom: 1px solid #cccccc;
  } */

  .search-box {
    top: 69px;
  }

  .search-input input {
    padding: 10px 10px;
  }

  .search-box > div {
    width: 100%;
  }

  .search-box > .search-box-left > div {
    width: 100%;
  }
}

.search-box-sub {
  padding: 10px;
  background-color: #f9f9f9;
  /* border: 1px solid #d6d6d6; */
}